<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-4 text-center">About Me</h1>
            <h2 class="mt-5">Bulloch Technologies</h2>
            <p>Permanent Full-time · 6 yrs</p>
            <h3>Software Engineer</h3>
            <p>Jan 2024 - Present · 6 mos · Mississauga, Ontario, Canada · Hybrid</p>
            <p>
                Leveraging my networking and IT experience, I have transitioned into software development at Bulloch Technologies.
                In this role, I design and develop desktop and web applications, primarily using C++ and JavaScript.
            </p>
            <h4>Responsibilities:</h4>
            <ul>
                <li>Assigning tasks to developers joining the team</li>
                <li>Managing project requirements and deadlines</li>
                <li>Developing software libraries and APIs</li>
            </ul>
            <p>Skills: Software Design, C++, and more</p>
            <h3>Sr IT Analyst</h3>
            <p>Jul 2018 - Jan 2024 · 5 yrs 7 mos · Mississauga, Ontario, Canada</p>
            <p>
                Develop software for internal use to expedite labor, supporting process efficiency improvements through automation.
                Build and maintain application and SQL database servers (DBA) Ivanti Service Manager (Formerly Heat).
                Maintain internal Jira server.
                Identify and remediate service gaps, security issues, and employee roadblocks for our Programmers, QA Analysts, Field Service, and Internal IT teams.
                Designing, implementing, and testing new and upgraded technologies to enhance productivity.
                Creating and maintaining documentation for our internal processes, and new solutions that are implemented in the company.
                Managing Information Technology associates assisting in completing owned projects.
                Supporting our internal IT Jr IT Analysts as needed.
                Maintain network and network equipment.
                Managing workers that are assisting in completing projects.
            </p>
        </div>
    </div>
</div>
