<!-- views/home.hbs -->
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-4 text-center">Chris Carruthers </h1>
            <h2 class="display-4 text-center">Super Software Engineer!</h2>
            <p class="lead text-center">Passionate IT professional turned Software Engineer at Bulloch Technologies</p>
            <p class="lead text-center">Looking for memory efficient, C++ or API development?</p>
            <p class="text-center">
                <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more about me</a>
            </p>
        </div>
    </div>
</div>
