<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <header>
        <!-- Add navigation links here -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <p>Connect with me:
            <a href="https://github.com/trainerstrove/">GitHub</a> |
            <a href="https://www.linkedin.com/in/chriscarruthersitpro/">LinkedIn</a>
        </p>
    </footer>
</body>
</html>
