<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-4 text-center">Projects</h1>
            <h2 class="display-4 text-center">Non-NDA or School related</h2>
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title">ExtraLifeHelper</h5>
                    <p class="card-text">A GitHub project to help with Extra Life fundraising.</p>
                    <a href="https://github.com/trainerstrove/ExtraLifeHelper" class="btn btn-primary">View Project</a>
                </div>
            </div>
            <!-- Add more project boxes as needed -->
        </div>
    </div>
</div>
